@import "tailwindcss";
/* @layer components {
  .nav-link {
    @apply text-sm font-medium text-gray-700 hover:text-indigo-600 transition;
  }

  .desktop-dd-item {
    @apply block px-5 py-3 text-sm text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 transition;
  }

  .mobile-link-modern {
    @apply text-base font-medium text-gray-900;
  }

  .mobile-sublink-modern {
    @apply text-sm text-gray-600 hover:text-indigo-600 transition;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade 0.25s ease-in;
} */

@layer components {
  .nav-link {
    @apply text-sm font-medium text-gray-700 hover:text-indigo-600 transition;
  }

  .nav-active {
    @apply text-indigo-600;
  }

  .nav-active::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-full bg-indigo-600 rounded-full;
  }
  .desktop-dd-item {
    @apply block px-5 py-3 text-sm text-gray-700
    hover:bg-indigo-50 hover:text-indigo-600 transition;
  }

  .mobile-link-modern {
    @apply text-base font-medium text-gray-900;
  }

  .mobile-sublink-modern {
    @apply text-sm text-gray-600 hover:text-indigo-600 transition;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade 0.25s ease-in;
}
